# Python
__pycache__/
*.py[cod]
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.venv/
venv/

# Project outputs
outputs/
reports/
notebooks_generated/
data/*
!data/.gitkeep
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
.runpodkey
*.tar.gz
*.h5ad

# IDE
.idea/
.vscode/
.DS_Store
